<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FeedbackServlet</display-name>
  <welcome-file-list>
    <welcome-file>Feedback.html</welcome-file>
    <welcome-file>fbdStyle.css</welcome-file>
    <welcome-file>success.html</welcome-file>
    <welcome-file>unsuccess.html</welcome-file>    
  </welcome-file-list>
<servlet-mapping>
  		<servlet-name>add</servlet-name>
  		<url-pattern>/store</url-pattern>  
  </servlet-mapping>
  <servlet>
  		<servlet-name>add</servlet-name>
  		<servlet-class>servlet.FeedbackServlet</servlet-class>
  </servlet>
</web-app>